body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.small {
    font-weight: 300;
    font-style: italic;
}

h1 {
    font-size: 25px;
}

input[name="searchInput"] {
    font-size: 16px;
}