
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: slategray;
}


.custom-bg-dark {
    background-color: slategray;
}
  
button.btn.btn-danger.btn-lg {
    background-color: crimson;
}

.text-light {
    color: black;
    border: solid;
    border-color: black;
}

div.bg-dark.col-md-4.col-12 {
    background-color: crimson;
    border: solid;
    border-color: black;
    }

.small {
    font-weight: 300;
    font-style: italic;
}

button.navbar-toggler.collapsed {
    background-color: slategray;
    border: solid;
    color: black;
}

div.container-fluid {
    display: flex;
    justify-content: center;
}

nav.navbar.navbar-expand-lg.navbar-light {
    background-color: crimson;
    margin-bottom: 10px;
    border: solid;
    border-color: black;
}

input[name="searchInput"] {
    font-size: 16px;
}

a.navbar-brand {
    font-size: 36px;
    color: slategray;
}
